.paragraphP {
    font-size: 0.5em;
}

.goToPreviousLessonDiv {
    font-size: 1.5em;
    padding: 1em;
    position: relative;
    width: fit-content;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    margin-left: 76em;
    padding-bottom: 1.5em;
    margin-top: -1em;
    color: black;
}

.goToPreviousLessonDiv:hover::before {
    transform: scaleX(1);
    color: #007bff;
}

.goToPreviousLessonDiv:not(:hover)::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    color: #007bff;
}

.goToPreviousLessonDiv:hover {
    transform: translateX(1.5em);
    color: #007bff;
}

.goToPreviousLessonDiv::after {
    content: '→';
    position: absolute;
    right: -0.5em; 
    top: 0;
    padding-top: 1em;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.goToPreviousLessonDiv:hover::after {
    opacity: 0;
    transform: translateX(1em); 
}

.goToPreviousLessonDiv:active,
.goToPreviousLessonDiv:focus {
    outline: none;
    color: #007bff;
}

.goToPreviousLessonDiv:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    color: #007bff;
}

.goToPreviousLessonDiv:active {
    color: whitesmoke;
}