.mainContainer {
    background-color: rgb(247, 250, 251);
}

.lessonIntroduction {
    padding-top: 2em;
    padding-bottom: 5em;
    text-align: center;
}

.subsection-title {
    font-size: 2.5em;
    border-top: 1px solid #dee2e6;
    padding-top: 1.5em;
    margin-left: 3.1em;
    margin-right: 4em;
}

.paragraph {
    width: 30%;
    font-size: 1.3em;
    margin-left: 6.2em;
    padding-bottom: 20em;
}

.key-areas {
    font-size: 1.3em;
    margin-left: 6em;
    width: 88%;
}

.key-areas li {
    padding-top: 1em;
}

.keyAreasOfBeginnerWebDev {
    margin-top: -10em;
}

.keyAreasOfBeginnerWebDev2 {
    margin-top: -10em;
}

.keyDescription {
    padding-top: 2em;
    width: 88%;
}

.beginnerPictureContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em;
    gap: 5em;
    margin-top: -18em;
    margin-bottom: 8em;
    justify-content: center;
}


.key-areas2 {
    display: flex;
    font-size: 1.3em;
    margin-left: 4.6em;
    justify-content: space-between;
    width: 91%;
    padding-top: 4em;
    padding-bottom: 5em;
}

.imageContainerWebBeginner {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.imageForWebBeginner {
    width: 28em;
    height: 35em;
    display: block;
    transition: transform 0.4s ease;
}

.imageContainerWebBeginner:hover .imageForWebBeginner {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 33, 33, 0.8);
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease;
}

.imageContainerWebBeginner:hover .overlay {
    opacity: 1;
}

.keyAreasOfBeginnerWebDev {
    font-size: 1em;
}

.keyDescription {
    margin-left: 2em;
}

.key-areas3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    padding-top: 8em;
    gap: 5em;
}

.imageContainerWebBeginner2 {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.imageForWebBeginner2 {
    width: 28em;
    height: 17em;
    transition: transform 0.4s ease;
}

.imageContainerWebBeginner2:hover .imageForWebBeginner2 {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 33, 33, 0.8);
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease;
}

.imageContainerWebBeginner2:hover .overlay {
    opacity: 1;
}

.keyAreasOfBeginnerWebDev3 {
    justify-content: center;
    text-align: center;
}

.keyDescription2 {
    margin-left: 2em;
    padding-top: 2em;
    width: 88%;
}

.feedbackContainer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
}

.feedbackButtons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.feedbackButtons button {
    margin: 0;
    width: 16.5em;
    padding: 1em 2em;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.feedbackButtons .thumbsUp {
    background-color: #007bff;
    background-image: linear-gradient(145deg, #007bff, #007bff);
}

.feedbackButtons .thumbsDown {
    background-color: #f44336;
    background-image: linear-gradient(145deg, #f44336, #e53935);
}

.feedbackButtons button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.feedbackButtons button:active {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.goToPreviousLessonDiv {
    font-size: 1.5em;
    padding: 1em;
    position: relative;
    width: fit-content;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    margin-left: 76em;
    padding-bottom: 1.5em;
    margin-top: -1em;
    color: black;
}

.goToPreviousLessonDiv:hover::before {
    transform: scaleX(1);
    color: #007bff;
}

.goToPreviousLessonDiv:not(:hover)::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    color: #007bff;
}

.goToPreviousLessonDiv:hover {
    transform: translateX(-1.5em);
    color: #007bff;
}

.goToPreviousLessonDiv::after {
    content: '\2190';
    position: absolute;
    top: 0;
    left: -0.5em;
    padding-top: 1em;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.goToPreviousLessonDiv:hover::after {
    opacity: 0;
    transform: translateX(1em);
}

.goToPreviousLessonDiv:active,
.goToPreviousLessonDiv:focus {
    outline: none;
    color: #007bff;
}

.goToPreviousLessonDiv:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    color: #007bff;
}

.goToPreviousLessonDiv:active {
    color: whitesmoke;
}

.borderExplanation {
    padding-top: 8em;
    margin-bottom: -3em;
}

.borders {
    color: #007bff;
}
