.footer {
    background-color: rgb(227, 238, 246);
    color: #343a40;
    padding: 1em 2em; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 7.5em;
}

.footer-logo-link {
    display: flex;
    align-items: center; 
    margin-left: 3.7em;
}

.footer-logo {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.footer-text {
    flex-grow: 1;
    text-align: center; 
    margin-left: 8em;
}

.footer-links {
    display: flex;
    gap: 1.5em; 
    margin-right: 5.9em;
}

.footer-links a {
    color: #007bff; 
    text-decoration: none; 
    font-size: 0.9em; 
}

.footer-links a:hover {
    text-decoration: underline; 
}