.personal-information {
  background-color: #f5f5f5;
}

.personal-information {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.personal-information-container {
  background-color: #fff;
  border-radius: 8px;
  width: 50em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5em;
  margin-left: 35em;
  margin-top: 3em;
}

.personal-information-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.personal-information-data {
  display: flex;
  flex-direction: column;
}

.personal-information-data>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.personal-information-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.personal-information-button:hover {
  background-color: #2980b9;
}

.personal-information-buttons {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.txt1 {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.txt2 {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.modal p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.modal button:hover {
  background-color: #2980b9;
}

.buttonsi {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1.1em;
  padding-top: 0.7em;
  display: flex;
}

.personalInformationDiv {
  position: relative;
  width: fit-content;
  font-size: 0.5em;
  padding-right: 2.5em;
  transition: transform 0.5s ease, color 0.5s ease;
  color: black;
}

.personalInformationDiv:hover::before {
  transform: scaleX(1);
  color: #007bff;
}

.personalInformationDiv:not(:hover)::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  color: #007bff;
}

.personalInformationDiv:hover {
  transform: translateX(1.3em);
  color: #007bff;
}

.personalInformationDiv::after {
  content: '→';
  position: absolute;
  top: 0;
  opacity: 1;
  right: 1.3em;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.personalInformationDiv:hover::after {
  opacity: 0;
  transform: translateX(0.3em); 
}

.personalInformationDiv:active,
.personalInformationDiv:focus {
  outline: none;
  color: #007bff;
}

.personalInformationDiv:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  color: #007bff;
}

.personalInformationDiv:active {
  color: whitesmoke;
}